{% extends 'base.html' %}

{% block content %}
    <section class="jumbotron text-xs-center">
        <div class="container">
            <h1>404 - File Not Found</h1>
            <div>
                <p>Please contact the server administrator.</p>
            </div>
            <div class="alert alert-danger" role="alert">
                <strong>Warning</strong> This is a Federal computer system and is the property of the Continent of
                Pangea Government. It is for authorized use only. <br> Unauthorized or improper use of this system
                may result in administrative disciplinary action and civil and criminal penalties. By continuing to
                use this system you indicate your awareness of and consent to these terms and conditions of use. GET
                OFF IMMEDIATELY if you do not agree to the conditions stated in this warning.
            </div>
        </div>
    </section>

{% endblock content %}
