{% extends 'base.html' %}

{% block content %}
    <section class="jumbotron text-xs-center">
        <div class="container">
            <h1>HMI Login</h1>
            <div>
                <p><font color="red">Invalid username or password, please try again.</font></p>
            </div>
            <form action="" method="post">
                <p><input type=text name=username> (Username)</p>
                <p><input type=password name=password> (Password)</p>
                <p><input type=password name=otp> (One Time Password)</p>
                <p><input type=submit value=Login></p>
            </form>
        </div>
    </section>
{% endblock content %}
