{% extends 'base.html' %}

{% block content %}
    <section class="jumbotron text-xs-center">
        <div class="container">
            <h1>HMI Login</h1>
            <div>
                <p>Please contact the server administrator.</p>
            </div>
            <form action="" method="post">
                <p><input type=text name=username>
                <p><input type=password name=password>
                <p><input type=submit value=Login>
            </form>
        </div>
    </section>
{% endblock content %}
